@use "../../../css/mixins.scss" as m;

.rope2 {
  position: absolute;
  left: 0;
  top: 2058px;
}

.cardimg {
  max-width: 191px;
  max-height: 264px;
  border-radius: 100px;
}

.catal {
  @include m.width(880px);
  margin: 50px auto 150px auto;
  max-height: 1034px;
  @include m.font(14px, 160%, right);

  &__title {
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    @include m.font(70px, 78px, center);
    margin-bottom: 70px;
  }

  &__frow {
    display: flex;
  }

  &__text {
    @include m.width(280px);
    align-self: baseline;
    font-style: normal;
    font-weight: 400;
    margin-left: 170px;
    margin-top: 175px;
  }

  &_el {
    @include m.width(205px);
    @include m.flex();
    flex-direction: column;
    max-height: 344px;
    font-weight: 400;

    &:nth-of-type(1) {
      margin-top: 138px;
      margin-right: 34px;
    }

    .el__title {
      margin: 10px auto;
    }

    .el__text {
      margin: 0 auto;
      opacity: 0.7;
    }
  }
  &__center {
    @include m.width(282px);
    margin: -90px auto 90px auto;

    &__title {
      margin: 0 auto;
      font-weight: 400;
      @include m.font(30px, 33px);
    }

    &__text {
      position: relative;
      z-index: 12;
      font-weight: 400;
      @include m.font(14px, 160%, center);
      border-bottom: 3px dashed #000000;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      gap: 16px;
      margin-top: 15px;

      &:hover {
        font-weight: 600;
        border-bottom: 3px solid #000000;
      }

      &:active {
        color: #58ff92;
      }
    }
  }
  &__trow {
    display: flex;
    margin-top: -188px;

    &__text {
      margin-top: 225px;
      margin-right: 170px;
      width: 280px;
      height: 66px;
    }
  }
}

@media screen and (max-width: 767px) {
  .catal {
    margin-top: 0;
    margin-bottom: 80px;
  }

  .rope2 {
    display: none;
  }

  .catal__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    @include m.font(32px, 36px, center);
    margin: 0 0 40px 0;
  }

  .catal_el:nth-of-type(1) {
    margin: 0;
    align-self: start;
  }

  .catal_el {
    align-self: end;
    margin: -170px 0 0 0;
    max-width: 130px;
    max-height: 233px;
    @include m.font(14px, 160%, center);
  }

  .catal__frow {
    margin: 0 auto 30px auto;
    max-width: 280px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .catal__text {
      margin: 0 auto 30px auto;
      order: -1;
      text-align: center;
    }
  }

  .catal__trow {
    flex-direction: column;
    margin: 0 auto;
    max-width: 280px;
    &__text {
      margin: 30px auto 0 auto;
      text-align: center;
      order: 3;
    }
  }

  .catal__center {
    margin: 0 auto 30px auto;
    @include m.flex(center, center);
    flex-direction: column;
  }
  
  .cardimg {
    max-width: 121px;
    max-height: 167px;
  }
}

@media screen and (max-width: 768px) {
  .rope2 {
    display: none;
  }
}
