@use "../../css/mixins.scss" as m;

.favourite {
  @include m.width(880px);
  margin: 30px auto 150px auto;
  &__nothing {
    @include m.font(20px, unset, center);
    font-size: 20px;
    font-weight: 400;
  }
  &__title {
    @include m.font(70px, 78px, center, #282828);
    font-weight: 400;
  }
  &__items {
    @include m.flex(start, center);
    flex-wrap: wrap;
    gap: 34px;
  }
  &__button {
    @include m.width(220px);
    height: 50px;
    background: #d8f8e3;
    border-radius: 100px;
    @include m.flex();
    @include m.font(14px, 19px);
    gap: 16px;
    &:hover {
      box-shadow: 0px 2px 10px #58ff92;
    }
    &:active {
      box-shadow: inset 0px 2px 15px rgba(88, 255, 146, 0.5);
    }
    margin: 40px auto 0px auto;
  }
}

@media screen and (max-width: 767px) {
  .favourite {
    margin-bottom: 80px;
    &__title {
      @include m.font(34px, 38px);
    }
  }
}
