@use "../../../css/mixins.scss" as m;

.soul {
  position: relative;
  margin-bottom: 150px;
}

.soul__section {
  @include m.width(880px);
  margin: 0 auto;
}

.soul__subsection {
  margin: 0 auto;
  @include m.flex(unset, center);
  gap: 110px;
}

.soul__title {
  margin: 0 auto;
  @include m.font(70px, 78px, center);
  font-weight: 400;
}

.soul__text {
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  @include m.font(16px, 160%, center);
  margin-top: 70px;
  margin-bottom: 60px;
}

.subsection__text {
  margin: 0;
  margin-bottom: 59px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  @include m.font(30px, 130%);
  align-self: flex-end;
}

.undertext__uppertitle {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  @include m.font(30px, 130%);
  width: 150px;
}

.soul__undertext {
  margin-top: 100px;
}

.undertext__text {
  font-style: normal;
  font-weight: 400;
  @include m.font(14px, 160%);
  width: 190px;
}

.soul__imgrow {
  @include m.flex(unset, center);
  gap: 190px;
}

.imgrow__text {
  @include m.flex(unset, flex-end);
  flex-direction: column;
  position: absolute;
  bottom: -67px;
  margin-left: 101px;
}

.rope {
  position: absolute;
  right: 0;
  top: -300px;
}

@media screen and (max-width: 767px) {
  .rope {
    display: none;
  }

  .soul {
    margin-bottom: 40px;
    display: none;
  }

  .soul__title {
    @include m.font(32px, 36px);
    margin-bottom: 40px;
  }

  .soul__text {
    @include m.font(14px, 160%);
    margin-bottom: 30px;
  }

  .soul__subsection {
    gap: 0;
    flex-direction: column;
    align-items: center;
  }

  .soul__undertext {
    text-align: center;
  }

  .undertext__uppertitle {
    margin: 0 auto;
  }

  .soul__imgrow {
    gap: 96px;
    flex-direction: column;
    align-items: center;
  }

  .soul__undertext {
    margin-top: 15px;
  }

  .subsection__text {
    order: 4;
    margin: 0 auto;
    position: relative;
    top: 450px;
  }

  .imgrow__text {
    position: relative;
    margin: 0 auto;
    order: 2;
    bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .rope {
    display: none;
  }
}
