/* header */
@use "../../css/mixins.scss" as m;
.burger {
  position: fixed;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  @include m.flex(unset, space-between);
  flex-direction: column;
  background: #d8f8e3;
  &__header {
    @include m.flex(unset, space-between);
    width: 86%;
    margin: 0 auto;
    &__imges {
      margin-top: 17px;
      @include m.flex(center, unset);
      gap: 20px;
    }
  }
  &__content {
    @include m.flex();
    flex-direction: column;
    gap: 20px;
    max-width: 70%;
    margin: 0 auto;
    @include m.font(16px, 22px, center, #282828);
    font-weight: 300;
    &__text {
      margin: 0;
    }
    &__catalog-popup {
      min-width: 200px;
      border-top: 1px solid rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      &__text {
        margin: 20px auto;
      }
    }
  }
  &__footer {
    margin-bottom: 30px;
    @include m.flex();
    flex-direction: column;
    gap: 15px;
    @include m.font(16px, 22px, unset, #282828);
    font-weight: 300;
    &__text {
      margin: 0;
    }
    &__social {
      @include m.flex();
      gap: 20px;
      object-fit: contain;
      flex-wrap: wrap;
      &__icon {
        margin: 0;
        width: 40px;
        height: 40px;
      }
    }
  }
}

.header {
  max-width: 880px;
  @include m.width(880px);
  @include m.flex(center, space-between);
  @include m.font(14px, 19px, unset, #282828);
  font-weight: 300;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.header__burger {
  display: none;
}

.menu {
  @include m.flex(unset, center);
  gap: 40px;
  width: 100%;
  margin-bottom: 48px;
}

.catalog {
  @include m.flex(unset, space-between);
  max-width: 65px;
  gap: 5px;
  position: relative;
}

.catalog__popup {
  position: absolute;
  z-index: 99;
  top: 29px;
  width: 158px;
  height: 97px;
  background: #ffffff;
  border-width: 1px 0px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.catalog__popup__text {
  margin: 0;
}

.catalog__popup__text:hover {
  opacity: 0.7;
  transition: all ease 0.3s;
}

.catalog__popup__text:nth-of-type(1) {
  margin-top: 10px;
}

.header__text {
  margin: 0;
}

.polygon {
  object-fit: contain;
  max-width: 8px;
  max-height: 8px;
  align-self: center;
}

.headerimges {
  @include m.flex();
  gap: 15px;
  margin-bottom: 48px;
}

.like {
  max-width: 20px;
  max-height: 16.67px;
}

.basket {
  max-width: 20px;
  max-height: 19.68px;
}

.logoimg {
  max-width: 140px;
  max-height: 132px;
}

@media screen and (max-width: 767px) {
  .header {
    width: 87.5%;
    align-items: center;
    margin-bottom: 25px;
  }

  .menu {
    display: none;
  }

  .logoimg {
    align-self: start;
    max-width: 80px;
    max-height: 70px;
  }

  .header__burger {
    display: block;
  }

  .headerimges {
    margin-top: 23px;
    gap: 31px;
  }
}
